@font-face {
  font-family: 'Aboreto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aboreto-v2-latin-regular.woff2') format('woff2'),
      url('../fonts/aboreto-v2-latin-regular.woff') format('woff');
}